@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  background-color: #ffffff;
  font-family: "Open Sans", Arial, "Trebuchet MS", "MS Sans Serif";
}
h1 {
  font-size: 16pt;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 6pt;
  margin-top: 20pt;
}
h2 {
  font-size: 13pt;
  font-weight: bold;
  margin-bottom: 6pt;
  margin-top: 15pt;
}
h3 {
  font-size: 12pt;
  font-weight: bold;
  margin-bottom: 6pt;
  margin-top: 15pt;
}
h4 {
  font-size: 12.0pt;
  font-weight: bold;
}
h5 {
  font-size: 10.0pt;
  font-weight: bold;
}
h6 {
  font-size: 8.0pt;
  font-weight: bold;
}
p {
  font-family: "Open Sans", Arial, "Trebuchet MS", "MS Sans Serif";
  font-size: 11pt;
  margin-bottom: 0pt;
  margin-top: 0pt;
}
a.expandspot {
  color: #008000;
  cursor: hand;
  font-style: italic;
  text-decoration: none;
}
a.dropspot {
  color: #008000;
  cursor: hand;
  font-style: italic;
  text-decoration: none;
}
a.glossterm {
  color: #800000;
  cursor: hand;
  font-style: italic;
  text-decoration: none;
}
img.G-Image {}
span.Avertissement {
  color: #f2771e;
  font-size: 11pt;
  font-family: "Open Sans", Arial, "Trebuchet MS", "MS Sans Serif";
}
span.ChampExportableObligatoire {
  color: #ff0000;
  font-size: 11pt;
  font-family: "Open Sans", Arial, "Trebuchet MS", "MS Sans Serif";
}
span.ChampImportableObligatoire {
  color: #ff0000;
  font-size: 11pt;
  font-family: "Open Sans", Arial, "Trebuchet MS", "MS Sans Serif";
}
span.ChampObligatoire {
  color: #ff0000;
  font-size: 11pt;
  font-family: "Open Sans", Arial, "Trebuchet MS", "MS Sans Serif";
}
span.EnregistrementExportableObligatoire {
  color: #ff0000;
  font-size: 11pt;
  font-family: "Open Sans", Arial, "Trebuchet MS", "MS Sans Serif";
}
span.expandtext {
  color: #ff0000;
  font-family: "Open Sans", Arial, "Trebuchet MS", "MS Sans Serif";
  font-size: 11pt;
  font-style: italic;
  font-weight: normal;
}
span.glosstext {
  font-family: "Open Sans", Arial, "Trebuchet MS", "MS Sans Serif";
}
span.Important {
  color: #ea6807;
  font-weight: bold;
  font-size: 11pt;
}
span.MessageEDI {
  font-family: Consolas;
  font-size: 11pt;
  background-color: #ffe9c9;
  color: #ee6d0c;
}
span.OptionLigneCommande {
  font-weight: bold;
  font-family: Consolas;
  font-size: 11pt;
}
span.ParametreTacheFacultatif {
  color: #000000;
  font-size: 11pt;
  font-family: "Open Sans", Arial, "Trebuchet MS", "MS Sans Serif";
}
span.ParametreTacheObligatoire {
  color: #ff0000;
  font-size: 11pt;
  font-family: "Open Sans", Arial, "Trebuchet MS", "MS Sans Serif";
}
span.Raccourci-clavier {
  background-color: #f0f0f0;
  font-family: Consolas;
  font-size: 11pt;
}
span.Reference-menu {
  background-color: #f0f0f0;
  font-family: Consolas;
  font-size: 11pt;
}
span.SQL {
  background-color: #f0f0f0;
  font-family: Consolas;
  font-size: 11pt;
}
span.TacheLigneCommande {
  font-weight: bold;
  font-family: Consolas;
  font-size: 11pt;
}
ol,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
p.Code {
  margin-top: 0pt;
  margin-bottom: 0pt;
  font-family: Consolas;
  background-color: #f0f0f0;
  font-size: 11pt;
}
p.En-tête-de-page {
  background-color: #f47920;
  border-bottom-style: None;
  color: #ffffff;
  font-family: "Open Sans Light", Arial, "Trebuchet MS", "MS Sans Serif";
  font-size: 20.0pt;
  padding-bottom: 4px;
  padding-left: 8px;
  text-align: left;
}
p.En-tête-de-page-Affaires {
  background-color: #ffe9c9;
  border-bottom-style: None;
  color: #ee6d0c;
  font-family: "Open Sans Light", Arial, "Trebuchet MS", "MS Sans Serif";
  font-size: 20.0pt;
  padding-bottom: 4px;
  padding-left: 8px;
  text-align: left;
}
p.En-tête-de-page-CRM {
  background-color: #ee6d0c;
  border-bottom-style: None;
  color: #ffffff;
  font-family: "Open Sans Light", Arial, "Trebuchet MS", "MS Sans Serif";
  font-size: 20.0pt;
  padding-bottom: 4px;
  padding-left: 8px;
  text-align: left;
}
p.En-tête-de-page-Decisionnel {
  background-color: #4da1c4;
  border-bottom-style: None;
  color: #ffffff;
  font-family: "Open Sans Light", Arial, "Trebuchet MS", "MS Sans Serif";
  font-size: 20.0pt;
  padding-bottom: 4px;
  padding-left: 8px;
  text-align: left;
}
p.En-tête-de-page-ECommerce {
  background-color: #ffe9c9;
  border-bottom-style: None;
  color: #ee6d0c;
  font-family: "Open Sans Light", Arial, "Trebuchet MS", "MS Sans Serif";
  font-size: 20.0pt;
  padding-bottom: 4px;
  padding-left: 8px;
  text-align: left;
}
p.En-tête-de-page-EDI {
  background-color: #ffe9c9;
  border-bottom-style: None;
  color: #ee6d0c;
  font-family: "Open Sans Light", Arial, "Trebuchet MS", "MS Sans Serif";
  font-size: 20.0pt;
  padding-bottom: 4px;
  padding-left: 8px;
  text-align: left;
}
p.En-tête-de-page-ERP {
  background-color: #ee6d0c;
  border-bottom-style: None;
  color: #ffffff;
  font-family: "Open Sans Light", Arial, "Trebuchet MS", "MS Sans Serif";
  font-size: 20.0pt;
  padding-bottom: 4px;
  padding-left: 8px;
  text-align: left;
}
p.En-tête-de-page-GChange {
  text-align: left;
  border-bottom-style: None;
  background-color: #4da1c4;
  color: #ffffff;
  font-size: 20pt;
  margin-bottom: 0pt;
  margin-top: 0pt;
  padding-left: 8px;
  padding-bottom: 4px;
  font-family: "Open Sans Light", Arial, "Trebuchet MS", "MS Sans Serif";
}
p.En-tête-de-page-GestionCommerciale {
  background-color: #ee6d0c;
  border-bottom-style: None;
  color: #ffffff;
  font-family: "Open Sans", Arial, "Trebuchet MS", "MS Sans Serif";
  font-size: 20.0pt;
  padding-bottom: 4px;
  padding-left: 8px;
  text-align: left;
}
p.En-tête-de-page-GestionComptable {
  background-color: #606162;
  border-bottom-style: None;
  color: #ffffff;
  font-family: "Open Sans Light", Arial, "Trebuchet MS", "MS Sans Serif";
  font-size: 20.0pt;
  padding-bottom: 4px;
  padding-left: 8px;
  text-align: left;
}
p.En-tête-de-page-Immobilisations {
  background-color: #c6c6c6;
  border-bottom-style: None;
  color: #606162;
  font-family: "Open Sans Light", Arial, "Trebuchet MS", "MS Sans Serif";
  font-size: 20.0pt;
  padding-bottom: 4px;
  padding-left: 8px;
  text-align: left;
}
p.En-tête-de-page-NotesVersion {
  font-size: 20.0pt;
  text-align: left;
  border-bottom-style: None;
  background-color: #ee6d0c;
  color: #ffffff;
  padding-left: 8px;
  padding-bottom: 4px;
  font-family: "Open Sans Light", Arial, "Trebuchet MS", "MS Sans Serif";
}
p.En-tête-de-page-RapprochementBancaire {
  background-color: #c6c6c6;
  border-bottom-style: None;
  color: #606162;
  font-family: "Open Sans Light", Arial, "Trebuchet MS", "MS Sans Serif";
  font-size: 20.0pt;
  padding-bottom: 4px;
  padding-left: 8px;
  text-align: left;
}
p.FichierINI {
  background-color: #f0f0f0;
  font-family: Consolas;
  font-size: 11pt;
  margin-bottom: 0pt;
  margin-top: 0pt;
}
p.FichierTXT {
  margin-top: 0pt;
  margin-bottom: 0pt;
  font-family: Consolas;
  background-color: #f0f0f0;
  font-size: 11pt;
}
p.Formule {
  background-color: #f0f0f0;
  font-family: Consolas;
  margin-top: 0pt;
  margin-bottom: 0pt;
  font-size: 11pt;
}
p.InviteCommandes {
  margin-top: 0pt;
  margin-bottom: 0pt;
  font-family: Consolas;
  background-color: #f0f0f0;
  font-size: 11pt;
}
p.JSON {
  background-color: #f0f0f0;
  font-family: Consolas;
  font-size: 11pt;
  margin-bottom: 0pt;
  margin-top: 0pt;
}
p.Méthode {
  background-color: #f0f0f0;
  font-family: Consolas;
  font-size: 11pt;
  margin-bottom: 0pt;
  margin-top: 0pt;
}
p.SQL {
  background-color: #f0f0f0;
  font-family: Consolas;
  font-size: 11pt;
  margin-bottom: 0pt;
  margin-top: 0pt;
}
p.URL {
  background-color: #f0f0f0;
  border-left-style: Solid;
  border-left-width: 1px;
  font-family: Consolas;
  font-size: 11.0pt;
  margin-bottom: 0pt;
  margin-top: 0pt;
}
p.XML {
  background-color: #f0f0f0;
  font-family: Consolas;
  margin-top: 0pt;
  margin-bottom: 0pt;
  font-size: 11pt;
}
rh-list.Bullets {
  x-lvl-1-type: disc;
  x-lvl-1-format: "<x>";
  x-lvl-2-type: square;
  x-lvl-2-format: "<x>";
  x-lvl-2-margin: 20px;
  x-lvl-3-type: circle;
  x-lvl-3-format: "<x>";
  x-lvl-3-margin: 40px;
  x-lvl-4-type: diamond;
  x-lvl-4-format: "<x>";
  x-lvl-4-margin: 60px;
  x-lvl-5-type: disc;
  x-lvl-5-format: "<x>";
  x-lvl-5-margin: 80px;
  x-lvl-6-type: square;
  x-lvl-6-format: "<x>";
  x-lvl-6-margin: 100px;
  x-lvl-7-type: circle;
  x-lvl-7-format: "<x>";
  x-lvl-7-margin: 120px;
  x-lvl-8-type: diamond;
  x-lvl-8-format: "<x>";
  x-lvl-8-margin: 140px;
  x-level-count: 9;
  x-lvl-9-type: disc;
  x-lvl-9-format: "<x>";
  x-lvl-9-margin: 160px;
  x-lvl-9-pfx-class: rls-9-Bullets;
  x-lvl-1-pfx-class: rls-1-Bullets;
  x-lvl-2-pfx-class: rls-2-Bullets;
  x-lvl-3-pfx-class: rls-3-Bullets;
  x-lvl-4-pfx-class: rls-4-Bullets;
  x-lvl-5-pfx-class: rls-5-Bullets;
  x-lvl-6-pfx-class: rls-6-Bullets;
  x-lvl-7-pfx-class: rls-7-Bullets;
  x-lvl-8-pfx-class: rls-8-Bullets;
}
span.rls-9-Bullets {
  font-size: 8pt;
}
span.rls-1-Bullets {
  font-size: 12pt;
}
span.rls-2-Bullets {
  font-size: 12pt;
}
span.rls-3-Bullets {
  font-size: 12pt;
}
span.rls-4-Bullets {
  font-size: 12pt;
}
span.rls-5-Bullets {
  font-size: 10pt;
}
span.rls-6-Bullets {
  font-size: 10pt;
}
span.rls-7-Bullets {
  font-size: 10pt;
}
span.rls-8-Bullets {
  font-size: 10pt;
}
table.G-Tableau {
  background-color: #ffffff;
  border-left-color: #ed6b0a;
  border-left-style: Solid;
  border-left-width: 1px;
  border-top-color: #ed6b0a;
  border-top-style: Solid;
  border-top-width: 1px;
  x-1st-row-name: t1st;
  x-1st-row: 1;
  x-border-spacing: 0px;
  x-row-pat-1-name: t1Row;
  x-row-pat-1: 1;
  x-row-pat-2-name: t2Row;
  x-row-pat-2: 1;
  x-row-pat-count: 2;
}
table.G-Tableau td {
  padding-left: 6px;
  padding-right: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
}
table.G-Tableau tr.t1st td {
  background-color: #ed6b0a;
  border-bottom-color: #ffffff;
  border-bottom-style: None;
  border-bottom-width: 1px;
  border-right-color: #ffffff;
  border-right-style: Solid;
  border-right-width: 1px;
  color: #ffffff;
  font-family: "Open Sans Light", Arial, "Trebuchet MS", "MS Sans Serif";
  font-size: 11pt;
}
table.G-Tableau tr.t1Row td {
  border-bottom-color: #ed6b0a;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-right-color: #ed6b0a;
  border-right-style: Solid;
  border-right-width: 1px;
}
table.G-Tableau tr.t2Row td {
  border-bottom-color: #ed6b0a;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-right-color: #ed6b0a;
  border-right-style: Solid;
  border-right-width: 1px;
}
table.Tableau-avec-entete-Affaires {
  background-color: #ffffff;
  border-left-color: #ed6b0a;
  border-left-style: Solid;
  border-left-width: 1px;
  border-top-color: #ed6b0a;
  border-top-style: Solid;
  border-top-width: 1px;
  x-1st-row-name: t1st;
  x-1st-row: 1;
  x-border-spacing: 0px;
  x-row-pat-1-name: t1Row;
  x-row-pat-1: 1;
  x-row-pat-2-name: t2Row;
  x-row-pat-2: 1;
  x-row-pat-count: 2;
}
table.Tableau-avec-entete-Affaires td {
  padding-left: 6px;
  padding-right: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
}
table.Tableau-avec-entete-Affaires tr.t1st td {
  background-color: #ed6b0a;
  border-bottom-color: #ffffff;
  border-bottom-style: None;
  border-bottom-width: 1px;
  border-right-color: #ffffff;
  border-right-style: Solid;
  border-right-width: 1px;
  color: #ffffff;
  font-family: "Open Sans Light", Arial, "Trebuchet MS", "MS Sans Serif";
  font-size: 11pt;
}
table.Tableau-avec-entete-Affaires tr.t1Row td {
  border-bottom-color: #ed6b0a;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-right-color: #ed6b0a;
  border-right-style: Solid;
  border-right-width: 1px;
}
table.Tableau-avec-entete-Affaires tr.t2Row td {
  border-bottom-color: #ed6b0a;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-right-color: #ed6b0a;
  border-right-style: Solid;
  border-right-width: 1px;
}
table.Tableau-avec-entete-CRM {
  background-color: #ffffff;
  border-left-color: #ed6b0a;
  border-left-style: Solid;
  border-left-width: 1px;
  border-top-color: #ed6b0a;
  border-top-style: Solid;
  border-top-width: 1px;
  x-1st-row-name: t1st;
  x-1st-row: 1;
  x-border-spacing: 0px;
  x-row-pat-1-name: t1Row;
  x-row-pat-1: 1;
  x-row-pat-2-name: t2Row;
  x-row-pat-2: 1;
  x-row-pat-count: 2;
}
table.Tableau-avec-entete-CRM td {
  padding-left: 6px;
  padding-right: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
}
table.Tableau-avec-entete-CRM tr.t1st td {
  background-color: #ed6b0a;
  border-bottom-color: #ffffff;
  border-bottom-style: None;
  border-bottom-width: 1px;
  border-right-color: #ffffff;
  border-right-style: Solid;
  border-right-width: 1px;
  color: #ffffff;
  font-family: "Open Sans Light", Arial, "Trebuchet MS", "MS Sans Serif";
  font-size: 11pt;
}
table.Tableau-avec-entete-CRM tr.t1Row td {
  border-bottom-color: #ed6b0a;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-right-color: #ed6b0a;
  border-right-style: Solid;
  border-right-width: 1px;
}
table.Tableau-avec-entete-CRM tr.t2Row td {
  border-bottom-color: #ed6b0a;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-right-color: #ed6b0a;
  border-right-style: Solid;
  border-right-width: 1px;
}
table.Tableau-avec-entete-Decisionnel {
  background-color: #ffffff;
  border-left-color: #ed6b0a;
  border-left-style: Solid;
  border-left-width: 1px;
  border-top-color: #ed6b0a;
  border-top-style: Solid;
  border-top-width: 1px;
  x-1st-row-name: t1st;
  x-1st-row: 1;
  x-border-spacing: 0px;
  x-row-pat-1-name: t1Row;
  x-row-pat-1: 1;
  x-row-pat-2-name: t2Row;
  x-row-pat-2: 1;
  x-row-pat-count: 2;
}
table.Tableau-avec-entete-Decisionnel td {
  padding-left: 6px;
  padding-right: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
}
table.Tableau-avec-entete-Decisionnel tr.t1st td {
  background-color: #ed6b0a;
  border-bottom-color: #ffffff;
  border-bottom-style: None;
  border-bottom-width: 1px;
  border-right-color: #ffffff;
  border-right-style: Solid;
  border-right-width: 1px;
  color: #ffffff;
  font-family: "Open Sans Light", Arial, "Trebuchet MS", "MS Sans Serif";
  font-size: 11pt;
}
table.Tableau-avec-entete-Decisionnel tr.t1Row td {
  border-right-style: Solid;
  border-right-width: 1px;
  border-right-color: #ed6b0a;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-bottom-color: #ed6b0a;
}
table.Tableau-avec-entete-Decisionnel tr.t2Row td {
  border-right-style: Solid;
  border-right-width: 1px;
  border-right-color: #ed6b0a;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-bottom-color: #ed6b0a;
}
table.Tableau-avec-entete-EDI {
  background-color: #ffffff;
  border-left-color: #ed6b0a;
  border-left-style: Solid;
  border-left-width: 1px;
  border-top-color: #ed6b0a;
  border-top-style: Solid;
  border-top-width: 1px;
  x-1st-row-name: t1st;
  x-1st-row: 1;
  x-border-spacing: 0px;
  x-row-pat-1-name: t1Row;
  x-row-pat-1: 1;
  x-row-pat-2-name: t2Row;
  x-row-pat-2: 1;
  x-row-pat-count: 2;
}
table.Tableau-avec-entete-EDI td {
  padding-left: 6px;
  padding-right: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
}
table.Tableau-avec-entete-EDI tr.t1st td {
  background-color: #ed6b0a;
  border-bottom-color: #ffffff;
  border-bottom-style: None;
  border-bottom-width: 1px;
  border-right-color: #ffffff;
  border-right-style: Solid;
  border-right-width: 1px;
  color: #ffffff;
  font-family: "Open Sans Light", Arial, "Trebuchet MS", "MS Sans Serif";
  font-size: 11pt;
}
table.Tableau-avec-entete-EDI tr.t1Row td {
  border-bottom-color: #ed6b0a;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-right-color: #ed6b0a;
  border-right-style: Solid;
  border-right-width: 1px;
}
table.Tableau-avec-entete-EDI tr.t2Row td {
  border-bottom-color: #ed6b0a;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-right-color: #ed6b0a;
  border-right-style: Solid;
  border-right-width: 1px;
}
table.Tableau-avec-entete-ERP {
  background-color: #ffffff;
  border-left-color: #ed6b0a;
  border-left-style: Solid;
  border-left-width: 1px;
  border-top-color: #ed6b0a;
  border-top-style: Solid;
  border-top-width: 1px;
  x-1st-row-name: t1st;
  x-1st-row: 1;
  x-border-spacing: 0px;
  x-row-pat-1-name: t1Row;
  x-row-pat-1: 1;
  x-row-pat-2-name: t2Row;
  x-row-pat-2: 1;
  x-row-pat-count: 2;
}
table.Tableau-avec-entete-ERP td {
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 4px;
  padding-top: 3px;
}
table.Tableau-avec-entete-ERP tr.t1st td {
  background-color: #ed6b0a;
  border-bottom-color: #ffffff;
  border-bottom-style: None;
  border-bottom-width: 1px;
  border-right-color: #ffffff;
  border-right-style: Solid;
  border-right-width: 1px;
  color: #ffffff;
  font-family: "Open Sans Light", Arial, "Trebuchet MS", "MS Sans Serif";
  font-size: 11pt;
}
table.Tableau-avec-entete-ERP tr.t1Row td {
  border-bottom-color: #ed6b0a;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-right-color: #ed6b0a;
  border-right-style: Solid;
  border-right-width: 1px;
}
table.Tableau-avec-entete-ERP tr.t2Row td {
  border-bottom-color: #ed6b0a;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-right-color: #ed6b0a;
  border-right-style: Solid;
  border-right-width: 1px;
}
table.Tableau-avec-entete-GChange {
  background-color: #ffffff;
  border-left-color: #4da1c4;
  border-left-style: Solid;
  border-left-width: 1px;
  border-top-color: #4da1c4;
  border-top-style: Solid;
  border-top-width: 1px;
  x-1st-row-name: t1st;
  x-1st-row: 1;
  x-border-spacing: 0px;
  x-last-col-name: last;
  x-last-col: 1;
  x-row-pat-1-name: t1Row;
  x-row-pat-1: 1;
  x-row-pat-2-name: t2Row;
  x-row-pat-2: 1;
  x-row-pat-count: 2;
}
table.Tableau-avec-entete-GChange tr.t1st td {
  background-color: #4da1c4;
  border-bottom-color: #ffffff;
  border-bottom-style: None;
  border-bottom-width: 1px;
  border-right-color: #ffffff;
  border-right-style: Solid;
  border-right-width: 1px;
  color: #ffffff;
  font-family: "Open Sans Light", Arial, "Trebuchet MS", "MS Sans Serif";
  font-size: 11pt;
}
table.Tableau-avec-entete-GChange tr.t1Row td {
  border-bottom-color: #4da1c4;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-right-color: #4da1c4;
  border-right-style: Solid;
  border-right-width: 1px;
}
table.Tableau-avec-entete-GChange tr.t2Row td {
  border-bottom-color: #4da1c4;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-right-color: #4da1c4;
  border-right-style: Solid;
  border-right-width: 1px;
}
table.Tableau-avec-entete-GChange tr.t1Row td.last {
  background-color: #ffffff;
  font-family: "Open Sans Light", Arial, "Trebuchet MS", "MS Sans Serif";
  font-size: 12pt;
  border-right-style: Solid;
  border-right-width: 1px;
  border-right-color: 4da1c4;
}
table.Tableau-avec-entete-GChange tr.t2Row td.last {
  background-color: #ffffff;
  font-family: "Open Sans Light", Arial, "Trebuchet MS", "MS Sans Serif";
  font-size: 12pt;
  border-right-style: Solid;
  border-right-width: 1px;
  border-right-color: 4da1c4;
}
table.Tableau-avec-entete-GChange td.last {
  background-color: #ffffff;
  font-family: "Open Sans Light", Arial, "Trebuchet MS", "MS Sans Serif";
  font-size: 12pt;
  border-right-style: Solid;
  border-right-width: 1px;
  border-right-color: 4da1c4;
}
table.Tableau-avec-entete-GChange td {
  padding-left: 6px;
  padding-right: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
}
table.Tableau-avec-entete-GestionCommerciale {
  background-color: #ffffff;
  border-left-color: #ed6b0a;
  border-left-style: Solid;
  border-left-width: 1px;
  border-top-color: #ed6b0a;
  border-top-style: Solid;
  border-top-width: 1px;
  x-1st-row-name: t1st;
  x-1st-row: 1;
  x-border-spacing: 0px;
  x-row-pat-1-name: t1Row;
  x-row-pat-1: 1;
  x-row-pat-2-name: t2Row;
  x-row-pat-2: 1;
  x-row-pat-count: 2;
}
table.Tableau-avec-entete-GestionCommerciale td {
  padding-left: 6px;
  padding-right: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
}
table.Tableau-avec-entete-GestionCommerciale tr.t1st td {
  background-color: #ed6b0a;
  border-bottom-color: #ffffff;
  border-bottom-style: None;
  border-bottom-width: 1px;
  border-right-color: #ffffff;
  border-right-style: Solid;
  border-right-width: 1px;
  color: #ffffff;
  font-family: "Open Sans Light", Arial, "Trebuchet MS", "MS Sans Serif";
  font-size: 11pt;
}
table.Tableau-avec-entete-GestionCommerciale tr.t1Row td {
  border-bottom-color: #ed6b0a;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-right-color: #ed6b0a;
  border-right-style: Solid;
  border-right-width: 1px;
}
table.Tableau-avec-entete-GestionCommerciale tr.t2Row td {
  border-bottom-color: #ed6b0a;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-right-color: #ed6b0a;
  border-right-style: Solid;
  border-right-width: 1px;
}
table.Tableau-avec-entete-GestionComptable {
  background-color: #ffffff;
  border-left-color: #ed6b0a;
  border-left-style: Solid;
  border-left-width: 1px;
  border-top-color: #ed6b0a;
  border-top-style: Solid;
  border-top-width: 1px;
  x-1st-row-name: t1st;
  x-1st-row: 1;
  x-border-spacing: 0px;
  x-row-pat-1-name: t1Row;
  x-row-pat-1: 1;
  x-row-pat-2-name: t2Row;
  x-row-pat-2: 1;
  x-row-pat-count: 2;
}
table.Tableau-avec-entete-GestionComptable td {
  padding-left: 6px;
  padding-right: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
}
table.Tableau-avec-entete-GestionComptable tr.t1st td {
  background-color: #ed6b0a;
  border-bottom-color: #ffffff;
  border-bottom-style: None;
  border-bottom-width: 1px;
  border-right-color: #ffffff;
  border-right-style: Solid;
  border-right-width: 1px;
  color: #ffffff;
  font-family: "Open Sans Light", Arial, "Trebuchet MS", "MS Sans Serif";
  font-size: 11pt;
}
table.Tableau-avec-entete-GestionComptable tr.t1Row td {
  border-bottom-color: #ed6b0a;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-right-color: #ed6b0a;
  border-right-style: Solid;
  border-right-width: 1px;
}
table.Tableau-avec-entete-GestionComptable tr.t2Row td {
  border-bottom-color: #ed6b0a;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-right-color: #ed6b0a;
  border-right-style: Solid;
  border-right-width: 1px;
}
table.Tableau-avec-entete-Immobilisations {
  background-color: #ffffff;
  border-left-color: #c6c6c6;
  border-left-style: Solid;
  border-left-width: 1px;
  border-top-color: #c6c6c6;
  border-top-style: Solid;
  border-top-width: 1px;
  x-1st-row-name: t1st;
  x-1st-row: 1;
  x-border-spacing: 0px;
  x-row-pat-1-name: t1Row;
  x-row-pat-1: 1;
  x-row-pat-2-name: t2Row;
  x-row-pat-2: 1;
  x-row-pat-count: 2;
}
table.Tableau-avec-entete-Immobilisations td {
  padding-left: 6px;
  padding-right: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
}
table.Tableau-avec-entete-Immobilisations tr.t1st td {
  background-color: #c6c6c6;
  border-bottom-color: #ffffff;
  border-bottom-style: None;
  border-bottom-width: 1px;
  border-right-color: #ffffff;
  border-right-style: Solid;
  border-right-width: 1px;
  color: #606162;
  font-family: "Open Sans Light", Arial, "Trebuchet MS", "MS Sans Serif";
  font-size: 11pt;
}
table.Tableau-avec-entete-Immobilisations tr.t1Row td {
  border-bottom-color: #c6c6c6;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-right-color: #c6c6c6;
  border-right-style: Solid;
  border-right-width: 1px;
}
table.Tableau-avec-entete-Immobilisations tr.t2Row td {
  border-bottom-color: #c6c6c6;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-right-color: #c6c6c6;
  border-right-style: Solid;
  border-right-width: 1px;
}
table.Tableau-sans-entete {
  x-1st-row: 1;
  x-1st-row-name: t1st;
  x-row-pat-1: 1;
  x-row-pat-1-name: t1Row;
  x-row-pat-count: 2;
  x-row-pat-2: 1;
  x-row-pat-2-name: t2Row;
  x-border-spacing: 0px;
  border-left-style: Solid;
  border-left-width: 1px;
  border-left-color: #ea6807;
  border-top-style: Solid;
  border-top-width: 1px;
  border-top-color: #ea6807;
}
table.Tableau-sans-entete td {
  padding-left: 6px;
  padding-right: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
}
table.Tableau-sans-entete tr.t1st td {
  border-right-style: Solid;
  border-right-width: 1px;
  border-right-color: #ea6807;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-bottom-color: #ea6807;
}
table.Tableau-sans-entete tr.t1Row td {
  border-right-style: Solid;
  border-right-width: 1px;
  border-right-color: #ea6807;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-bottom-color: #ea6807;
}
table.Tableau-sans-entete tr.t2Row td {
  border-right-style: Solid;
  border-right-width: 1px;
  border-right-color: #ea6807;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-bottom-color: #ea6807;
}
table.Tableau-sans-entete-ERP {
  border-left-color: #ea6807;
  border-left-style: Solid;
  border-left-width: 1px;
  border-top-color: #ea6807;
  border-top-style: Solid;
  border-top-width: 1px;
  x-1st-row-name: t1st;
  x-1st-row: 1;
  x-border-spacing: 0px;
  x-row-pat-1-name: t1Row;
  x-row-pat-1: 1;
  x-row-pat-2-name: t2Row;
  x-row-pat-2: 1;
  x-row-pat-count: 2;
}
table.Tableau-sans-entete-ERP td {
  padding-left: 6px;
  padding-right: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
}
table.Tableau-sans-entete-ERP tr.t1st td {
  border-bottom-color: #ea6807;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-right-color: #ea6807;
  border-right-style: Solid;
  border-right-width: 1px;
}
table.Tableau-sans-entete-ERP tr.t1Row td {
  border-bottom-color: #ea6807;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-right-color: #ea6807;
  border-right-style: Solid;
  border-right-width: 1px;
}
table.Tableau-sans-entete-ERP tr.t2Row td {
  border-right-style: Solid;
  border-right-width: 1px;
  border-right-color: #ea6807;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-bottom-color: #ea6807;
}
table.Tableau-sans-entete-GChange {
  border-left-color: #4da1c4;
  border-left-style: Solid;
  border-left-width: 1px;
  border-top-color: #4da1c4;
  border-top-style: Solid;
  border-top-width: 1px;
  x-1st-row-name: t1st;
  x-1st-row: 1;
  x-border-spacing: 0px;
  x-row-pat-1-name: t1Row;
  x-row-pat-1: 1;
  x-row-pat-2-name: t2Row;
  x-row-pat-2: 1;
  x-row-pat-count: 2;
}
table.Tableau-sans-entete-GChange td {
  padding-left: 6px;
  padding-right: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
}
table.Tableau-sans-entete-GChange tr.t1st td {
  border-bottom-color: #4da1c4;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-right-color: #4da1c4;
  border-right-style: Solid;
  border-right-width: 1px;
}
table.Tableau-sans-entete-GChange tr.t1Row td {
  border-bottom-color: #4da1c4;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-right-color: #4da1c4;
  border-right-style: Solid;
  border-right-width: 1px;
}
table.Tableau-sans-entete-GChange tr.t2Row td {
  border-bottom-color: #4da1c4;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-right-color: #4da1c4;
  border-right-style: Solid;
  border-right-width: 1px;
}
table.Tableau-d-entete-de-page {}
table.Tableau-de-pied-de-page {}
:root {
  --borderonly-theme-color: #bfbfbf;
  --evenrows-theme-color: #bfbfbf;
  --evenrows-row-color: rgba(191, 191, 191, 0.5);
  --thickhdrevenrows-theme-color: #666666;
  --thickhdrevenrows-row-color: rgba(102, 102, 102, 0.5);
  --thickhdr-theme-color: rgba(244, 176, 131, 1);
  --thickhdr-brdr-color: rgba(244, 176, 131, 0.5);
  --firstcolrow-theme-color: rgb(237, 125, 49);
  --firstcolrow-even-row: rgba(237, 125, 49, 0.5);
  --firstcolrow-odd-row: rgba(237, 125, 49, 0.25);
  --hdrevenrows-theme-color: #ed7d31;
  --hdrevenrows-row-color: rgba(237, 125, 49, 0.25);
  --hdrevenrows-brdr-color: rgba(237, 125, 49, 0.5);
  --hdrevenrowsnobdr-theme-color: #ed7d31;
  --hdrevenrowsnobdr-row-color: rgba(237, 125, 49, 0.25);
  --noborder-theme-color: #ed7d31;
}
table.borderonly {
  border-collapse: collapse;
}
table.borderonly td {
  border-color: var(--borderonly-theme-color);
  border-style: solid;
  border-width: 1px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
}
table.evenrows {
  border-collapse: collapse;
}
table.evenrows td {
  border-color: var(--evenrows-theme-color);
  border-style: solid;
  border-width: 1px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
}
table.evenrows tr:nth-child(even) td {
  background-color: var(--evenrows-row-color);
}
table.thickhdrevenrows {
  border-collapse: collapse;
}
table.thickhdrevenrows tr:first-child {
  border-color: var(--thickhdrevenrows-theme-color);
  border-left: 0;
  border-right: 0;
  border-style: solid;
  border-top: 0;
  border-width: 3px;
}
table.thickhdrevenrows td {
  border-color: var(--thickhdrevenrows-theme-color);
  border-style: solid;
  border-width: 1px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
}
table.thickhdrevenrows tr:nth-child(even) td {
  background-color: var(--thickhdrevenrows-row-color);
}
table.thickhdrevenrows tr:first-child td {
  text-align: center;
}
table.thickhdr {
  border-collapse: collapse;
}
table.thickhdr td {
  border-color: var(--thickhdr-brdr-color);
  border-style: solid;
  border-width: 1px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
}
table.thickhdr tr:first-child {
  border-width: 3px;
  border-style: solid;
  border-color: var(--thickhdr-theme-color);
  border-left: 0;
  border-top: 0;
  border-right: 0;
}
table.firstcolrow {
  border-collapse: collapse;
}
table.firstcolrow td {
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
}
table.firstcolrow tr:nth-child(even) td {
  background-color: var(--firstcolrow-even-row);
}
table.firstcolrow tr:nth-child(odd) td {
  background-color: var(--firstcolrow-odd-row);
}
table.firstcolrow tr:first-child td {
  background-color: var(--firstcolrow-theme-color);
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}
table.firstcolrow tr td:first-child {
  background-color: var(--firstcolrow-theme-color);
  color: #FFFFFF;
  font-weight: bold;
}
table.hdrevenrows {
  border-collapse: collapse;
}
table.hdrevenrows td {
  border-color: var(--hdrevenrows-brdr-color);
  border-style: solid;
  border-width: 1px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
}
table.hdrevenrows tr:first-child td {
  background-color: var(--hdrevenrows-theme-color);
  color: #FFFFFF;
}
table.hdrevenrows tr:nth-child(even) td {
  background-color: var(--hdrevenrows-row-color);
}
table.hdrevenrowsnobdr {
  border-collapse: collapse;
}
table.hdrevenrowsnobdr td {
  border-color: transparent;
  border-style: none;
  border-width: 1px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
}
table.hdrevenrowsnobdr tr:first-child td {
  background-color: var(--hdrevenrowsnobdr-theme-color);
  color: #FFFFFF;
}
table.hdrevenrowsnobdr tr:nth-child(even) td {
  background-color: var(--hdrevenrowsnobdr-row-color);
}
table.noborder {
  border-collapse: collapse;
}
table.noborder td {
  border-color: var(--noborder-theme-color);
  border-left: 0;
  border-style: solid;
  border-top: 0;
  border-width: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  vertical-align: center;
}
table.noborder tr:first-child td {
  background-color: var(--noborder-theme-color);
  border-bottom: 0;
  border-color: #FFFFFF;
  border-left: 0;
  border-style: solid;
  border-top: 0;
  border-width: 2px;
  color: #FFFFFF;
}
table.noborder tr:last-child td {
  border-bottom: 0;
  border-color: var(--noborder-theme-color);
  border-left: 0;
  border-style: solid;
  border-width: 2px;
}
table.noborder tr td:last-child {
  border-right: 0;
}
ol.RoundSquare{
  list-style: disc;
}
ol.RoundSquare>li>ol{
  list-style: square;
}
ol.RoundSquare>li>ol>li>ol{
  list-style: circle;
}
ol.RoundSquare>li>ol>li>ol>li>ol{
  list-style: disc;
}
ol.RoundSquare>li>ol>li>ol>li>ol>li>ol{
  list-style: square;
}
ol.RoundSquare>li>ol>li>ol>li>ol>li>ol>li>ol{
  list-style: circle;
}