:root {
    --md-primary-fg-color:        #b3b3b3;
    --md-accent-fg-color:         #df6800;
}

.md-content {
    --md-typeset-a-color: #df6800; /* lien en orange */
}

/* Menu de navigation avec scrollbar */
.md-nav--primary {
    overflow-y: auto;
    max-height: 900px; 
}

/* Pour que la page en elle-même ne soit pas cachée par le pied de page */
body {
    padding-bottom: 40px;
}