:root {
    --md-primary-fg-color:        #F47920;
    --md-accent-fg-color:         #F47920;
}

/* Mise en page des liens */
.md-content a {
    color: #F47920;
    text-decoration: underline;
}

.md-content {
    /* espacement des lignes */
    line-height: 0.5; 
}

/* Menu de navigation avec scrollbar */
.md-nav--primary {
    overflow-y: auto;
    max-height: 900px; 
}

/* Couleur des titres de pages */
.md-content h1 {
    color: #F47920;
    font-weight: bold;
}

.md-content h2, .md-content h3, .md-content h4, .md-content h5, .md-content h6 {
    font-weight: bold;
    color: #000000;
}

/* Pour que la page en elle-même ne soit pas cachée par le pied de page */
body {
    padding-bottom: 40px;
}